:root {
    --main-padding: 0.5vh;
}


body {
    color: white;
    background-color: #282923;
}

hr {
    border: none;
    border: 1px solid gray;
}

#container {
    /* display: block; */
    box-sizing: border-box;
    margin: auto;
    width: 80vh;
    max-width: 100%;
    /*width: 100vw;*/
    font-size: 2vh;
    /* height: 90vh; */
    border: 1px solid gray;
    /* padding: var(--main-padding); */
}

#avatar_div {
    padding-top: 0.5em;
    /* margin: 0px 0.5em 1em 0px; */
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 4vh;
    margin: 0;
    margin-top: 2.5vh;
}

h2 {
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 3vh;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#name_div {
    display: block;
}

#title_div {
    margin-top: auto;
    margin: auto;
    /*border: 1px solid red;*/
}

div {
    /*border: 1px dotted gray;*/
}

a {
    all: unset;
    cursor: pointer;
}

#links_div {
    grid-area: links;
    padding: 0.5em;
    /* padding: var(--main-padding); */
    font-size: 2.25vh;
    color: #ccc;
}

#main_div {
    grid-area: main;
    border-left: 1px solid gray;
    padding: var(--main-padding);
}

#avatar_div {
    grid-area: photo;
    /* border-bottom: 1px solid gray; */
    /* border-right: 1px solid gray; */
    /* border: 15px solid green; */
    /* object-fit: contain; */
}

#main_img {
    display: block;
    max-width: 100%;
    /* max-height: 100%; */
    margin: auto;
    height: 100%;
    max-height: 50vh;
    border: 1px solid violet;
    object-fit: contain;
    /* object-fit: contain; */
}

.link_wrapper {
    /* height: 1vh; */
    display: grid;
    grid-template-columns: 1.40em auto;
    width:auto;
}

.link_title_wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.link_icon {
    width: 100%;
    max-width: 1.25em;
    max-height: 1.25em;
    object-fit: contain;
    /* margin: auto; */
    /* margin-right: 0; */
    border-radius: 50%;
}

.link_text {
    color: #7CC1FD;
    margin-top: auto;
    margin-left: 0.25em;
}

#github_icon {
    background-color: black;
    border-radius: 50%;
    /* outline: 5px solid gray; */
}

#cf_icon {
    border-radius: 50%;
}

table {
    border-spacing: 0;
}

th, td {
/* tr { */
    padding: 0.25em 0.5em;
    margin: 0;
    border-left: 1px solid;
    border-top: 1px solid;
    /*  */
}

table, tr {
    /* padding: 0; */
    border-right: 1px solid;
    border-bottom: 1px solid;
}

table tr:nth-child(odd) {
    background-color: #555;
}

table tr:nth-child(even) {
    background-color: #777;
}

.content_wrapper {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 35% auto;
    grid-template-areas:
    "photo main"
    "links main";
}

@media (max-width: 1200px) and (max-aspect-ratio: 1/1) {
    .content_wrapper {
        max-width: 100%;
        /* background-color: azure; */
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "photo"
        "main"
        "links";
    }

    #avatar_div {
        margin: auto;
        height: auto;
        max-width: 80%;
        /* max-height: 50vh; */
    }

    #container {
        margin: auto;
        /* width: 80vh; */
        max-width: 100%;
        /*width: 100vw;*/
        height: auto;
        border: 1px solid gray;
        padding: var(--main-padding);
    }

    .link_wrapper {
        height: 1.5em;
        display: grid;
        grid-template-columns: 4vh auto;
    }

    .link_text {
        font-size: 1.5em;
        color: #7CC1FD;
        margin-top: auto;
        margin-left: 0.25em;
    }

    table {
        font-size: 2vh;
    }

    #main_div {
        grid-area: main;
        border-left: none;
        /* border-left: 1px solid gray; */
        padding: var(--main-padding);
    }

    #links_div {
        padding: var(--main-padding);
        font-size: 2.5vh;
        color: #ccc;

        border-top: 1px solid gray;
    }

    .link_title_wrapper {
        display: grid;
        grid-template-columns: auto auto;
    }

}

