
/*#block{
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px; /* future proofing */
   /*-khtml-border-radius: 10px; for old Konqueror browsers 
}
*/

:root {
	--bg-bg: #A1AAB5;
	--main-bg: #A1AAB5;
	--main-color: #000000;
	--author-color: #000000;
	--block-bg: #747A82;
	--right-bg: #D1F2F6;
	--left-bg: #E7E8EF;
	--author-bg: #D5D5E5;
	--center-bg: #DBF1FF;
	--outline-color: #ffffff00;/*00;*/
	--border-radc: 1;
	--from-color: #888888;
	--darker-color: #111111;

	--def-fontsz: 1.5rem;
	--msg-fontsz: 1.5rem;
	--small-fontsz: 1rem;
	--button-width: 4rem;
	--button-h: 4rem;
	--bbutton-h: 3rem;
	--bbutton-width: 9rem;
	--border-rad: 0.2rem;
	--msg-border-rad: 1rem;
	--block-width: 35rem;

	--font-fam: Georgia;
	--msg-font-fam: Tahoma;

	--msg-rad: calc(var(--msg-border-rad) * var(--border-radc));
}

a:link { /* unvisited link */ color: var(--main-color);}
a:visited { /* visited link */ color: var(--main-color);}
a:hover { /* mouse over link */ color: var(--from-color);}
a:active { /* active link */ color: var(--main-color);}

@font-face {
    font-family: "Elementa";
/*    file://Users/belkovanya/Coding/github/SilverFoxxxy.github.io/*/
    src: url("src/fonts/Elementa/ElementaCyr-Bold.otf") format("opentype");
}

.harlow {
    font-family: "myFirstFont";
}

html, body {
	color: var(--main-color);/*white;*/
	background-color: var(--bg-bg);/*#35252C;/*#25181F;*//*#C6E6F0;*/
}

body {
	/*line-height: 2.5;*/
	line-height: 1.7;
	/*font-family: Tahoma;*/
	/*font-size: var(--def-fontsz);*/
	font-size: var(--def-fontsz);
	font-family: var(--font-fam);
	overflow-y: auto;
}

input {
	font-size: var(--def-fontsz);
}

input.checkbox {
	width :  1em;
    height : 1em;
}

.input_text {
	background: var(--main-bg);
	color: var(--main-color);
	border: 1px solid var(--main-color);
	border-radius: calc(var(--border-rad) * var(--border-radc));
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

button {
	font-family: var(--font-fam);
	cursor: pointer;
	border: none;
	height: fit-content;
	width: var(--button-width);
	color: var(--main-color);/*white;*/
	background-color: var(--main-bg);/*#35252C;/*#25181F;*//*#C6E6F0;*/
	border-radius: calc(var(--border-rad) * var(--border-radc));
	/*border: 1px solid var(--main-color);*/
}

table {
	width: 100%;
	font-size: calc(var(--def-fontsz) * 0.7);
}

table, th, td {
	line-height: 1.7;
	/*font-size: var(--def-fontsz);*/
	/*border: 1px solid red;*/
}

select {
	border: 1px solid var(--main-color);
	color: var(--main-color);
	background-color: var(--main-bg);
	border-radius: calc(var(--border-rad) * var(--border-radc));
}

a {
	color: var(--main-color);
}
/*a { text-decoration: none; }*/
div {
	/*border: 1px solid #00FFFF;*/
}

#messages_block {
	font-family: var(--msg-font-fam);
	/*background-color: grey;*/
}

#login_errors {
	color: red;
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

.scrollable {
	/*font-size:1.5vh;*/
	min-height: var(--block-width);
	overflow: auto;
	/*overflow-y: scroll;*/
	/*height:100%;*/
}

.nameblock {
	width:var(--block-width);
	max-width:95%;
	margin: auto;
}

.top {
	width: var(--block-width);
	max-width: 95%;
	margin: auto;
}

.header {
	/*width:var(--block-width);
	max-width:95%;
	margin: auto;*/
	width:fit-content;
	max-width:95%;
	margin: auto;
	/*font-size: 1.5rem;*/
	height: fit-content;
	background-color: var(--block-bg);
	/*#1D1016;*/
	border-radius: calc(var(--border-rad) * var(--border-radc));
}

.wideline {
	/*height: fit-content;
	background-color: var(--block-bg);*/
	/*#1D1016;*/
	width:100%;
	/*width:fit-content;
	margin: auto;*/
	/*border-radius: 0;
	outline: 0.07em solid var(--outline-color);*/
}

.block {
	font-size: calc(var(--def-fontsz) * 0.6);
	height: fit-content;
	background-color: var(--block-bg);
	/*#1D1016;*/
	width:var(--block-width);
	max-width:95%;
	margin: auto;
	border-radius: calc(var(--border-rad) * var(--border-radc));
	outline: 0.07em solid var(--outline-color);
}

.iblock {
	background-color: var(--block-bg);
	/*#1D1016;*/
	width: var(--block-width);
	max-width:95%;
	margin:auto;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-radius: calc(var(--border-rad) * var(--border-radc));
	outline: 0.07em solid var(--outline-color);
}

.msg_from {
	color: var(--from-color);
	font-size: calc(var(--msg-fontsz) * 0.9);
	font-weight: bold;
}

.red {
	color: var(--from-color);
	font-size: 0.9em;
	font-weight: bold;
}

.comment {
	width: fit-content;
	width: -moz-fit-content;
	position: relative;
	font-size: calc(var(--def-fontsz) * 0.7);
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border-radius: calc(var(--border-rad) * var(--border-radc));
	background: var(--left-bg);
}
.comment::after {
	content: '';
	width: 0;
	height: 0;
	font-size: 0;
	position: absolute;
	display: inline-block;
    left: calc(-0.35 * (var(--def-fontsz))); bottom: 0;
    border: calc(0.35 * (var(--def-fontsz))) solid transparent;
    border-bottom: calc(0.35 * (var(--def-fontsz))) solid var(--main-bg);
}

.right_block {
	/*background-color: #CCFFCC;*/
	/*float: right;*/
	width:80%;
	margin: 0 0 0 20%;
	padding-right: var(--def-fontsz);
	align: right;
	/*font-size:1.5vh;*/
	/*text-align:right;*/
	/*border: 1px solid #00FFFF;*/
}

.left_block {
	/*block-size: fit-content;*/
	/*background-color: #FFCCCC;*/
	/*float: left;*/
	width:80%;
	margin: 0 20% 0 0;
	padding-left: var(--def-fontsz);
	/*border: 1px solid #00FFFF;*/
}

.author_block {
	font-size: var(--def-fontsz);
	float:center;
	width:80%;
	margin: auto;
	padding-left: 3%;
	padding-right: 3%;
	/*font-size:1.5vh;*/
	/*text-align:center;*/
	/*border: 1px solid #00FFFF;*/
}

.center_block {
	font-size: var(--def-fontsz);
	float:center;
	width:92%;
	margin: auto;
	padding-left: 3%;
	padding-right: 3%;
	/*font-size:1.5vh;*/
	text-align:left;
	/*border: 1px solid #00FFFF;*/
}

.link_block {
	/*font-size: var(--def-fontsz);*/
	background-color: var(--right-bg);/*#693651;/*#CCFFCC;*/
	/*width: fit-content;*/
	display: flex;
  	align-items: center;
	justify-content: center;
	max-width: 85%;
	width: 85%;
	min-height: calc(var(--def-fontsz) * 4.25);
	height: fit-content;
	/*text-align: center;*/
	margin: auto;
	/*padding-top: calc(var(--def-fontsz) * 0.35);
	padding-bottom: calc(var(--def-fontsz) * 0.35);
	padding-left: calc(var(--def-fontsz) * 0.75);
	padding-right: calc(var(--def-fontsz) * 0.75);*/
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border-radius: calc(var(--border-rad) * var(--border-radc));
	/*background-color: transparent;*/
}

.right_msg {
	position: relative;
	/*display: block;*/
	white-space:pre-wrap;
	font-size: var(--msg-fontsz);
	background-color: var(--right-bg);/*#693651;/*#CCFFCC;*/
	width: fit-content;
	width: -moz-fit-content;
	/*float: right;*/
	/*margin:auto;*/
	margin: auto 0px auto auto;
	text-align: left;
	padding-top: calc(var(--def-fontsz) * 0.35);
	padding-bottom: calc(var(--def-fontsz) * 0.35);
	padding-left: calc(var(--def-fontsz) * 0.75);
	padding-right: calc(var(--def-fontsz) * 0.75);
	/*padding-top: 0.35em;
	padding-bottom: 0.35em;
	padding-left: 0.75em;
	padding-right: 0.75em;*/
	border-radius: var(--msg-rad) var(--msg-rad) 0 var(--msg-rad);
	outline: 0.07em solid var(--outline-color);
	/*border: 2px solid #00FF00;*/
}

.right_msg::after {
	content: '';
	width: 0;
	height: 0;
	font-size: 0;
	position: absolute;
	display: inline-block;
    right: calc(-0.35 * (var(--def-fontsz))); bottom: 0;
    border: calc(0.35 * (var(--def-fontsz))) solid transparent;
    border-bottom: calc(0.35 * (var(--def-fontsz))) solid var(--right-bg);
}

.left_msg {
	position: relative;
	white-space:pre-wrap;
	font-size: var(--msg-fontsz);
	background-color: var(--left-bg);/*#272131;/*#35252C;/*#2C1B23;*//*#FFCCCC;*/
	width: fit-content;
	/*float: left;*/
	/*margin:auto;*/
	padding-top: calc(var(--def-fontsz) * 0.35);
	padding-bottom: calc(var(--def-fontsz) * 0.35);
	padding-left: calc(var(--def-fontsz) * 0.75);
	padding-right: calc(var(--def-fontsz) * 0.75);
	/*padding-top: 0.35em;
	padding-bottom: 0.35em;
	padding-left: 0.75em;
	padding-right: 0.75em;*/
	border-radius: var(--msg-rad) var(--msg-rad) var(--msg-rad) 0;
	outline: 0.07em solid var(--outline-color);
	/*border: 2px solid #00FF00;*/
}

.left_msg::after {
	content: '';
	width: 0;
	height: 0;
	font-size: 0;
	position: absolute;
	display: inline-block;
    left: calc(-0.35 * (var(--def-fontsz))); bottom: 0;
    border: calc(0.35 * (var(--def-fontsz))) solid transparent;
    border-bottom: calc(0.35 * (var(--def-fontsz))) solid var(--left-bg);
}

.author_msg {
	white-space: pre-wrap;
	font-size: calc(var(--msg-fontsz) * 0.93);
	color: var(--author-color);
	/*background-color: var(--author-bg);*/
	/*#2C1B23;*//*#FFCCCC;*/
	border: calc(var(--def-fontsz) * 0.12) solid #999999;
	/*border-width: 0 0.1em 0 0.1em;*/
	border-width: 0 0 0 0;
	width: fit-content;
	margin: auto;
	/*padding-top: 0.35em;
	padding-bottom: 0.35em;
	padding-left: 0.75em;
	padding-right: 0.75em;*/
	padding-top: calc(var(--def-fontsz) * 0.35);
	padding-bottom: calc(var(--def-fontsz) * 0.35);
	padding-left: calc(var(--def-fontsz) * 0.75);
	padding-right: calc(var(--def-fontsz) * 0.75);
	border-radius: 0;
	/*calc(var(--msg-border-rad) * var(--border-radc));*/
	/*outline: 0.07em solid var(--outline-color);*/
	/*border: 2px solid #00FF00;*/
}

.center_msg {
	white-space: pre-wrap;
	font-size: var(--msg-fontsz);
	background-color: var(--center-bg);/*#2C1B23;*//*#FFCCCC;*/
	/*border: 2px dashed grey;*/
	width: fit-content;
	margin: auto;
	padding-top: calc(var(--def-fontsz) * 0.35);
	padding-bottom: calc(var(--def-fontsz) * 0.35);
	padding-left: calc(var(--def-fontsz) * 0.75);
	padding-right: calc(var(--def-fontsz) * 0.75);
	border-radius: calc(var(--msg-border-rad) * var(--border-radc));
	/*border-radius: calc(var(--border-rad) * var(--border-radc));*/
	outline: 0.07em solid var(--outline-color);
	/*border: 2px solid #00FF00;*/
}

.link_msg {
	font-size: calc(var(--def-fontsz) * 0.75);
	background-color: var(--right-bg);
	width: 100%;
	text-align: center;
	height: fit-content;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border-radius: calc(var(--border-rad) * var(--border-radc));
	outline: 0.07em solid var(--outline-color);
	/*background-color: transparent;
	border-radius: 0px;
	border: 1px solid var(--main-color);
	border-width: 0px 1px 0px 1px;*/
}

.link_msg_v1 {
	background-color: transparent;
}

.link_msg_v2 {
	background-color: transparent;
	border-radius: 0px;
	border: 1px solid var(--main-color);
	border-width: /*0px 1px 0px 1px;*/ 1px;
	border-color: var(--from-color);
}

.outln {
	/*outline: 3px solid #000;
	border-radius: 0.2rem;*/
}

table {
  /*border-collapse: collapse;*/
}
tr { 
  /*border: solid;
  border-width: 1px 1px;
  border-color: white;*/
}

div {
	/*border: solid;
	border-width: 1px 1px;
	border-color: red;*/
}
/*overflow-y: scroll;*/
/*max-height: 500px;*/
/*    background-color: #3366CC; /* Цвет фона веб-страницы */
footer{
/*position:static;*/
}
h1 {
/*    background-color: RGB(249, 201, 16); /* Цвет фона под заголовком */
}
p {
/*    background-color: maroon;  Цвет фона под текстом параграфа 
color: white; /* Цвет текста */
}

/*<button type='button' class='collapsible'><span>&#9660</span> Основная информация</button><div class='content'></div>*/

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  /*border: none;*/
  text-align: left;
  border: 1px solid #000;
  border-radius: 0;
  /*outline: none;*/
  font-size: 1em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	white-space: pre-wrap;
	padding: 0 0 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
	border-style: solid;
	border-color: 888888;
	border-width: 0px 1px 1px 1px;
	border-radius: 0;
}

.just_div {
  background-color: var(--main-bg);
  color: var(--main-color);
  padding-top: 0.35em;
	padding-bottom: 0.35em;
	padding-left: 0.75em;
	padding-right: 0.75em;
  width: 100%;
  /*border: none;*/
  text-align: left;
  font-size: var(--def-fontsz);
  border: none;
  border-radius: calc(var(--border-rad) * var(--border-radc));
  /*border: 1px solid #000;
  border-radius: 0;*/
  /*outline: none;*/
  font-size: calc(var(--def-fontsz) * 0.7);
}

/* Стиль вкладки */
.tab {
  text-align: left;
  position: relative;
  overflow-y: hidden;
  white-space: nowrap;
  /*height: calc(var(--def-fontsz) * 2.5);*/
  /*height: fit-content;
  height: -moz-fit-content;*/
  width: 100%;
  overflow-x: scroll;
  /*overflow-y: auto;*/
  /*border: 1px solid #ccc;*/
  /*border: 0.2em solid var(--block-bg);*/
  /*border: 0.2em solid green;*/
  background-color: var(--main-bg);
}
.tab::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* Стиль кнопок, которые используются для открытия содержимого вкладки */
.tab button {
  width: calc(var(--block-width) * 0.42);
  max-width: calc(95vw * 0.42);
  font-size: calc(var(--def-fontsz) * 0.9);
  height: calc(var(--def-fontsz) * 2.5);
  border-radius: calc(var(--border-rad) * var(--border-radc)) calc(var(--border-rad) * var(--border-radc)) 0 0;
  background-color: var(--block-bg);
  /*float: left;*/
  /*border: none;
  outline: none;*/
  /*border-radius: 0.5em;*/
  border: 0.2em solid var(--main-bg);
  /*border-width: 0 0.15em 0 0.15em;*/
  cursor: pointer;
  /*padding: 0 1em;*/
  /*transition: 0.3s;*/
}

/* Изменение цвета фона кнопок при наведении курсора */
/*.tab button:hover {
  background-color: #ddd;
}*/

/* Создание активного/текущего класса связи вкладки */
.tab button.active {
	/*border: 0.2em solid var(--main-bg);
    border-width: 0.15em 0 0 0;*/
    /*padding-bottom: 0.5em;*/
	border: none;
  background-color: var(--block-bg);
}

/* Стиль содержимого вкладки */
.tabcontent {
  display: none;
  /*padding: 6px 12px;*/
  /*border: 1px solid #ccc;*/
  /*border-top: none;*/
}

