:root {
  --main-bg-color: brown;
  --progress: 1%;
}

body {
    color: white;
    background: black;
}

.input_wrapper {
  width: fit-content;
  width: -moz-fit-content;
  display: grid;
  grid-template-columns: 1fr 10px 1fr 10px 1fr;
}



input {
    all: unset;
    border: 1px solid #555;
    box-sizing: border-box;
    /*all: unset;
    border: 1px solid gray;
    text-align: left;
    padding: ;*/
}

input:focus {
  outline: red 1px auto;
}

button {
  all: unset;
  border: 1px solid #555;
  padding: 0 10px;
  cursor: pointer;
}

button:hover {
  outline: #74ABE9 1px auto;
}

#vk_id {
  border: 1px solid #74ABE9;
  width: 8em;
    /*width: 100%;*/
}

#input_bttn {
  border: 1px solid #74ABE9;
  width: 6em;
  float: left;
    /*width: 100%;*/
}

.map_view {
    /*width: calc(min(90vh, 90vw));
    height: calc(min(60vh, 60vw));*/
}

#map {
    /*max-width: calc(min(90vh, 90vw));
    max-height: calc(min(60vh, 60vw));*/
}

#chartdiv {
  background: black;
  width: 100%;
  max-width: 80vw;
  height: 80vh;
  max-height: 100%;
}

#content_block {
    width: 80vw;
    /*max-width: 900px;*/
    border: 1px solid gray;
    position: relative;
}

/*#map_progress {
  width: 100%;
  height: 1rem;
  background: black;
  color: yellow;
  border-radius: 50%;
}
*/
.list_hint {
    /*background: black;*/
}

.progress {
    width: var(--progress);
    transition: width: 0.3s;
    height: 0.5rem;
    background: #74ABE9;
}

.progress_bar {
    transition: width: 0.3s;
}

#loading_bar {
  position: absolute;
  top:0px;
  left:0px;
  transition: opacity 2s;
  opacity: 0;
  width: inherit;
  max-width: 100%;
  height: 0.5rem;
  background: black;
  border: 1px solid #444;
}

#loading_req_text {
  position: absolute;
  top: 45%;
  left:0px;
  transition: opacity 0.5s;
  opacity: 0;
  width: inherit;
  max-width: 100%;
  height: 4rem;
  font-size: 4rem;
  background: black;
  /*border: 1px solid #444;*/
}

.user_info {
    width: 100%;
    margin: 10px;
    /*height: 100%;*/
    /*background: blue;*/
}

.avatar_img {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
    margin: 0 0;
    /*margin-top: 2.5px;*/
    border: 2px solid gray;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.img_container {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
    /*border: 1px dotted gray;*/
    margin: auto;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.hint_wrapper {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
    background: #222;
    padding: 0 0px;
    border-radius: 40px;
    width: 95%;
    /*border: 1px solid gray;*/
    display: grid;
    grid-template-columns: 45px 10px auto;
}

.hint_text {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
    color: white;
    width: 100%;
    font-size: 15px;
    text-align: left;
    margin: auto;
    /*padding: 5px 5px;*/
    /*border: 1px solid red;*/
}

.location_text {
    color: gray;
}

#friends_list {
    width: 100%;
    max-width: 600px;
    max-height: 100%;
    overflow-y: scroll;
    border: 1px solid #74ABE9;
}



/* Style the button that is used to open and close the collapsible content */
.collapsible {

  all:unset;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background-color: #000;
  color: #fff;
  cursor: pointer;
  padding: 9px 18px;
  width: 100%;
  /*border: 2px solid #888;*/
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapse_button_wrapper {
  display: grid;
  grid-template-columns: auto auto;
}

.collapsible_arrow {
  width: 100%;
  text-align: right;
  font-size: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #555;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  /*padding: 0 18px;*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  padding: 0 10px 0 0;
  display: none;
  grid-template-columns: auto;
  max-height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #000;
  border: 1px solid gray;
  border-width: 0 0 1px 0;
}

.content_wrapper {
  display: grid;
  max-height: 100%;
}

@media screen and (orientation: portrait) {
  .input_wrapper {
    width: fit-content;
    width: -moz-fit-content;
    display: grid;
    grid-template-columns: auto 10px auto 10px auto;
  }

  .content_wrapper {
    grid-template-rows: auto auto;
  }

  .content {
    grid-template-columns: auto;
    width: 100%;
  }

  #content_block {
    width: 80vw;
  }
}

@media screen and (min-width: 600px) {
  .content {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  #content_block {
    width: 80vw;
  }
}

@media screen and (min-width: 900px) {
  .content_wrapper {
    height: 80vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto 300px;
  }

  #content_block {
    height: 80vh;
    width: 99vw;
    max-width: 99vw;
    /*border: 1px solid red;*/
  }
  .content {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
/*@media screen and (min-width: 900px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}*/

a {
  color: black;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
