:root {
  --main-font-size: 20px;
  --button-font-size: 25px;
  --input-font-size: 20px;

  --border-width: 2px;

  --tab-width: 300px;
  /*--magic-red: #88171E;#035241 #02463C #470352;*/

  /*
  #370101



  */
  --magic-color: #555;
  /*--magic-red: #370101;*/ /*#01372F; #013726; #220137; #2E3701; #01372A*/
  --magic-red: #5a082d;/*#b04743;/*#6F3533 #600A0A;*/ /*#555;/* #4A0160;*//* #3F0152;*/
  --magic-violet: #48176D;
  --magic-gray: #555;

  --magic-lred: #8A1F4F;/*#37085A;*//*#5a082d;/*#6d3567;/*#480341;/*#5a1c54;/*#6d3567;/*#480341;*//*#5D0279*/
  --magic-lviolet: #7125A8;
  /*#085A49;/*#555;*/
  --magic-lgray: #999;
  --main-color: #CCC;
}

:root.gray {
  --magic-color: var(--magic-lgray); /*#555;*/
  --magic-backcolor: var(--magic-gray);
}

:root.red {
  --magic-color: var(--magic-lred); /*#600A0A;*/
  --magic-backcolor: var(--magic-red);
}

:root.violet {
  --magic-color: var(--magic-lviolet);/* #480341;*/
  --magic-backcolor: var(--magic-violet);
}

:root.white {
  --magic-color: #fff;/* #480341;*/
  --magic-backcolor: #555;
}

canvas {
  cursor: crosshair;
  --magic-fill: var(--magic-color, black);
  --magic-backfill: var(--magic-backcolor, black);
}

.wrapper {
  /**/
  display: grid;
  grid-template-columns: auto auto auto;
  width: fit-content;
  width: -moz-fit-content;
}

#input_block {
  width: var(--tab-width);
  /*width: 200px;*/
}

#progress_bar {
  transition: filter 2s;
  filter: brightness(0%);
  background: black;
  border: var(--border-width) solid var(--magic-backcolor);
}

#white_bar {
  transition: width 0.2s;
   background: var(--magic-color);
}

body {
  font-size: var(--main-font-size);
  background: black;
  color: white;
}

button {
  cursor: pointer;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: var(--button-font-size);
  border: var(--border-width) solid var(--magic-backcolor);
  background: black;
  color: white;
  text-align: center;
  width:100%;
  padding: 5px 0px;
  border-radius: 5px;
}

#pause_bttn {
  display: none;
}

#pause_bttn1 {
  display: none;
}

div {
  border-radius: 5px;
    /*border: 1px solid red;*/
}

input {
  /*display: inline-block;*/
  width: 70%;
  font-size: var(--input-font-size);
  background: black;
  color: white;
  border: var(--border-width) solid var(--magic-backcolor);
  border-radius: 5px;
}

textarea {
  font-size: var(--input-font-size);
  width: 90%;
  background: black;
  color: white;
  border: var(--border-width) solid var(--magic-backcolor);
  border-radius: 5px;
  padding: 10px;
}

pre {
  overflow-y: scroll;
  font-size: var(--input-font-size);
  width: 90%;
  background: black;
  color: white;
  border: var(--border-width) solid var(--magic-backcolor);
  height: 200px;
  border-radius: 5px;
  padding: 10px;
}

.body_block {
  width: 100%;
  margin: 1%;
}




.hints {
    padding: 4%;
    font-size: var(--main-font-size);
    border: var(--border-width) solid var(--magic-backcolor);
    border-radius: 5px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  /*overflow-x:scroll;*/
  /*border: 1px solid #ccc;*/
  background-color: black;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-weight: lighter;
  /*display: inline-block;*/
  filter: brightness(60%);
  font-size: 18px;
  width: fit-content;
  width: -moz-fit-content;
  /*width: calc(var(--tab-width) / 3);*/
  width:100%;
  background-color: inherit;
  background-color: #111;
  /*float: left;*/
  border: none;
  outline: none;
  padding: 16px 0px;
  /*transition: 0.3s;*/
  border: var(--border-width) solid var(--magic-backcolor);
  border-width: var(--border-width) var(--border-width) var(--border-width) var(--border-width);
  border-radius: 5px 5px 0px 0px;
}

.tab_button_wrapper {
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  width: -moz-fit-content;
  width:100%;
  border-radius: 5px 5px 0px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  font-weight: bold;
  filter: brightness(100%);
  background-color: #444;
}

/* Create an active/current tablink class */
.tab button.active {
  font-weight: bold;
  filter: brightness(100%);
  background-color: #000;
  border-width: var(--border-width) var(--border-width) 0px var(--border-width);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: var(--border-width) solid var(--magic-backcolor);
  border-width: 0px var(--border-width) var(--border-width) var(--border-width);
  border-top: none;
  border-radius: 0px 0px 5px 5px;
}


.theme_button_wrapper {
  /**/
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: fit-content;
  width: -moz-fit-content;
}


/*.theme_button:before{
  display: inline-block;
  content: "\00d7";
}*/

/*.theme_button:hover {
  filter: brightness(100%);
}*/
.theme_button_wrapper button {
  cursor: pointer;
  /*color: gray;*/
}

.theme_button {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 10px;
  font-size: 15px;
  border-radius: 15px;
  background: #000;
  color: transparent;
  /*filter: brightness(60%);*/
  /*border:none;*/
}

#gray_theme_button {
  /*background: var(--magic-gray);*/
  /*background: #222;*/
  border: 2px solid var(--magic-gray);
}

#red_theme_button {
  /*background: var(--magic-red);*/
  /*background: #222;*/
  border: 2px solid var(--magic-red);
}

#violet_theme_button {
  /*background: var(--magic-violet);*/
  /*background: #222;*/
  border: 2px solid var(--magic-violet);
}

#white_theme_button {
  /*background: var(--magic-violet);*/
  /*background: #222;*/
  border: 2px solid #fff;
}

.theme_button.active {
  /*background: var(--magic-color);*/
  color: var(--magic-color);
  /*filter: brightness(100%);*/
  /*border: 2px solid gray;*/
}

.button_cross {
  position: absolute;
  top: -4px; left:4px;
  /*border: 2px solid var(--magic-red);*/
  font-size: 30px;
  width: auto;
  height:auto;
  text-align: center;
  /*margin: auto;*/
}

@media screen and (orientation: portrait) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    width: 100%;
  }
  .main_block {
    margin: 0 auto;
  }
}


.copy_div {
  position: relative;
}

.copy_button {
  font: 1em "Fira Sans", sans-serif;
  filter: brightness(50%);
  padding: 3px 3px;
  width: auto;
  color: gray;
  border: var(--border-width) solid gray;
  position: absolute;
  right: 5px;
  top: 5px;
}

.copy_button:hover {
  filter: brightness(100%);
  color: white;
}

.copy_button:active {
  filter: brightness(100%);
  color: gray;
}

.tooltip {
  font-size: 0.7em;
  background: var(--magic-color);
  position: absolute;
  top: -1.5em;
  transition: -5s 10s ease-out opacity;
  opacity: 0;
}

.copy_button:active .tooltip {
  opacity: 1;
}



